@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
}

* {
  scrollbar-width: 0.75rem;
  scrollbar-color: rgb(88 28 135 / 1) rgb(107 33 168 / 1);
}

::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-500;
}

::-webkit-scrollbar-track {
  @apply bg-purple-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-800 rounded-lg border-purple-900 border-2 border-solid transition-all ease-in-out;
}

#gradient-canvas {
  --gradient-color-1: #570080;
  --gradient-color-2: #67009e;
  --gradient-color-3: #9c00c7;
  --gradient-color-4: #6500a8;
}
